@media (max-width: 430px){
    .navbar{
        justify-content: space-between;
        padding: 5px 15px;
        position: static;
        width: 100%;
        margin-top: 0;
    }

    .navbar-nav{
        flex-direction: column;
        gap: 0;
    }

    .fa-bars{
        color: white;
        font-size: 24px;
    }

    .btn-carrinho{
        display: none;
    }

    .contador{
        display: none;
    }

    .bag{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0px;
        z-index: 999;
    }

    .bag-contador{
        position: absolute;
        background-color: yellow;
        bottom: 25px;
        right: 1px;
        border-radius: 50px;
        padding: 0px 6px;
    }

    /*----- Hero Section -----*/
    .bg{
        min-height: 500px;
    }

    .title-hero{
        font-size: 35px;
        margin-top: 30px;
    }

    .btn-cardapio{
        font-size: 20px;
        width: 100%;
    }

    .btn-wpp{
        font-size: 20px;
        width: 100%;
        margin-top: 15px;
    }

    .hero-img img{
        display: none;
    }

    /*----- Images Section -----*/
    .images{
        margin-top: 40px;
        gap: 20px;
    }

    .images img{
        width: 50px;
    }

    /*----- Menu Section -----*/
    #menu .card{
        width: 300px;
        height: 400px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    
    .title-menu{
        font-size: 30px;
        font-weight: 800;
    }

    .container-menu{
        flex-direction: column;
        gap: 20px; 
    }

    .btn-ver-mais{
        margin-bottom: 15px;
    }

    /*----- Beneficios Section ------*/
    .title-beneficios{
        color: darkblue;
        font-size: 26px;
        text-align: center;
        font-weight: 800;
    }

    .container-beneficio{
        margin-top: 25px;
    }

    .desc-beneficio h1{
        font-size: 28px;
        font-weight: 700;
    }

    .desc-beneficio p{
        font-weight: 600;
    }

    .desc-beneficio i{
        font-size: 45px;
    }

    /*----- Adoção Section -----*/
    .title-adocao{
        font-size: 30px;
        font-weight: 800;
        margin-top: 130px;
    }

    /*----- Footer Section -----*/
    .container-footer{
        flex-direction: column;
        text-align: center;
    }
    
    .redes a{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
    }

    .redes i{
        margin-right: 10px;
    }

    /*----- Modal Section -----*/
    .sidebar{
        width: 100%;
    }

    .container-mensagem{
        top: 30px;
        right: 10px;
        padding: 15px 10px;
    }

    .desc-modal{
        width: 180px;
    }

    .form-control{
        width: 96%;
    }

    .title-final{
        margin-left: 45px;
    }

    #container-mensagem {
        top: 0;
        right: 0;
    }
}

@media (min-width: 431px) and (max-width: 721px){
    .navbar{
        justify-content: space-between;
        padding: 5px 15px;
        position: static;
        width: 100%;
        margin-top: 0;
    }

    .navbar-nav{
        flex-direction: column;
        gap: 0;
    }

    .fa-bars{
        color: white;
        font-size: 24px;
    }

    .btn-carrinho{
        display: none;
    }

    .contador{
        display: none;
    }

    .bag{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0px;
        z-index: 999;
        right: 20px;
    }

    .bag-contador{
        position: absolute;
        background-color: yellow;
        bottom: 25px;
        right: 1px;
        border-radius: 50px;
        padding: 0px 6px;
    }

    /*------------------------------------------- Images Section -------------------------------------------*/
    .images{
        margin-top: 40px;
        gap: 30px;
    }

    .images img{
        width: 60px;
    }

    /*------------------------------------------- Hero Section -------------------------------------------*/
    .title-hero{
        margin-top: 30px;
        font-size: 2.5rem;
    }

    /*------------------------------------------- MENU Section -------------------------------------------*/
    .title-menu{
        font-size: 2rem;
    }
    
    .container-menu{
        display: flex;
        gap: 20px; 
    }

    #menu .card{
        width: 230px;
        height: 340px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .card-img img{
        width: 100%;
    }

    .title-product{
        font-size: 18px;
    }

    /*------------------------------------------- BENEFICIOS Section -------------------------------------------*/
    .title-beneficios{
        font-size: 2rem;
    }

    .desc-beneficio h1{
        font-size: 28px;
        font-weight: 700;
    }

    .desc-beneficio p{
        font-weight: 600;
    }

    .desc-beneficio i{
        font-size: 45px;
    }
    
    /*------------------------------------------- SERVICE Section -------------------------------------------*/
    .title-adocao{
        font-size: 2rem;
        max-width: 500px;
    }

    /*------------------------------------------- Footer Section -------------------------------------------*/
    .container-footer{
        flex-direction: column;
        text-align: center;
    }
    
    .redes a{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
    }

    .redes i{
        margin-right: 10px;
    }

    /*------------------------------------------- Modal Section -------------------------------------------*/
    .sidebar{
        width: 70%;
    }

    .container-mensagem{
        top: 30px;
        right: 10px;
        padding: 15px 10px;
    }

    .desc-modal{
        width: 180px;
    }

    .card-item{
        padding: 1rem;
        max-width: 700px;
        gap: 30px;
    }

    .form-control{
        width: 96%;
    }

    .title-final{
        margin-left: 45px;
    }

    #container-mensagem {
        top: 0;
        right: 0;
    }
}

@media (min-width: 722px) and (max-width: 991px){
    .navbar{
        justify-content: space-between;
        padding: 5px 15px;
        position: static;
        width: 100%;
        margin-top: 0;
    }

    .navbar-nav{
        flex-direction: column;
        gap: 0;
    }

    .fa-bars{
        color: white;
        font-size: 24px;
    }

    .btn-carrinho{
        display: none;
    }

    .contador{
        display: none;
    }

    .bag{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0px;
        z-index: 999;
        right: 20px;
    }

    .bag-contador{
        position: absolute;
        background-color: yellow;
        bottom: 25px;
        right: 1px;
        border-radius: 50px;
        padding: 0px 6px;
    }

    /*------------------------------------------- Images Section -------------------------------------------*/
    .images{
        margin-top: 40px;
        gap: 45px;
    }

    .images img{
        width: 80px;
    }

    #container-mensagem {
        top: 0;
        right: 0;
    }

    /*------------------------------------------- MENU Section -------------------------------------------*/
    .title-menu{
        font-size: 2rem;
    }
    
    .container-menu{
        gap: 20px; 
    }

    /*------------------------------------------- BENEFICIOS Section -------------------------------------------*/
    .title-beneficios{
        font-size: 2rem;
    }

    .desc-beneficio h1{
        font-size: 28px;
        font-weight: 700;
    }

    .desc-beneficio p{
        font-weight: 600;
    }

    .desc-beneficio i{
        font-size: 45px;
    }

    /*------------------------------------------- SERVICE Section -------------------------------------------*/
    .title-adocao{
        font-size: 2rem;
        max-width: 550px;
    }

    /*------------------------------------------- Footer Section -------------------------------------------*/
    .container-footer{
        flex-direction: column;
        text-align: center;
    }
    
    .redes a{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
    }

    .redes i{
        margin-right: 10px;
    }

    /*------------------------------------------- Modal Section -------------------------------------------*/
    .sidebar{
        width: 65%;
    }

    .container-mensagem{
        top: 30px;
        right: 10px;
        padding: 15px 10px;
    }

    .desc-modal{
        width: 180px;
    }

    .card-item{
        padding: 1rem;
        max-width: 700px;
        gap: 30px;
    }

    .form-control{
        width: 96%;
    }

    .title-final{
        margin-left: 45px;
    }

    #container-mensagem {
        top: 0;
        right: 0;
    }
}
