@media (max-width: 430px){
    .navbar{
        justify-content: space-between;
        padding: 5px 15px;
        position: static;
        width: 100%;
        margin-top: 0;
    }

    .navbar-nav{
        flex-direction: column;
        gap: 0;
    }

    .fa-bars{
        color: white;
        font-size: 24px;
    }

    .btn-carrinho{
        margin-left: 40%;
    }

    .contador{
        top: 255px;
        right: 140px;
    }

    .bag{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0px;
        z-index: 999;
    }

    .bag-contador{
        position: absolute;
        background-color: yellow;
        bottom: 25px;
        right: 1px;
        border-radius: 50px;
        padding: 0px 6px;
    }

    /*----- Hero Section -----*/
    .bg{
        min-height: 500px;
    }

    .title-hero{
        font-size: 35px;
        margin-top: 50px;
    }

    .btn-cardapio{
        font-size: 20px;
        width: 100%;
    }

    .btn-wpp{
        font-size: 20px;
        width: 100%;
        margin-top: 15px;
    }

    .hero-img img{
        display: none;
    }

    /*----- Images Section -----*/
    .images{
        margin-top: 40px;
        gap: 20px;
    }

    .images img{
        width: 50px;
    }

    /*----- Promoções Section ------*/
    .container-promo{
        flex-direction: column;
    }
    
    .card-dog{
        width: 380px;
        height: 240px;
        padding: 1% 2%;
    }

    .card-cat{
        width: 380px;
        height: 240px;
        padding: 1% 2%;
    }

    .desc-promo{
        margin-left: 0;
        text-align: center;
        padding-top: 10px;
    }

    .title-promo{
        font-size: 30px;
        font-weight: bold;
    }

    .btn-promo{
        margin-top: 70px;
    }

    /*----- Menu Section -----*/
    #menu .card{
        width: 300px;
        height: 400px;
        margin-top: 15px;
    }
    
    .title-menu{
        font-size: 30px;
        font-weight: 800;
    }

    .container-menu{
        flex-direction: column;
    }

    .btn-ver-mais{
        margin-bottom: 15px;
    }

    /*----- Beneficios Section ------*/
    .title-beneficios{
        color: darkblue;
        font-size: 26px;
        text-align: center;
        font-weight: 800;
    }

    .container-beneficio{
        margin-top: 25px;
    }

    .desc-beneficio h1{
        font-size: 28px;
        font-weight: 700;
    }

    .desc-beneficio p{
        font-weight: 600;
    }

    .desc-beneficio i{
        font-size: 45px;
    }

    /*----- Adoção Section -----*/
    .title-adocao{
        font-size: 30px;
        font-weight: 800;
        margin-top: 130px;
    }

    /*----- Footer Section -----*/
    .container-footer{
        flex-direction: column;
        text-align: center;
    }

    .bg-modal{
        width: 100%;
        margin-left: 0;
    }

    .container-mensagem{
        top: 30px;
        right: 10px;
        padding: 15px 10px;
    }

    .desc-modal{
        width: 180px;
    }

    .form-control{
        width: 96%;
    }

    .title-final{
        margin-left: 45px;
    }
}

@media (min-width: 429px) and (max-width: 991px){

}
